.container {
    border: 5px solid red;
}

.box {
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.box-1 {
    background: #581F18;
}

.box-2 {
    background: #F0A202;
}

.box-3 {
    background: #D95D39;
    font-size: 100px;
}

.box-4 {
    background: #202C59;
}

.box-5 {
    background: #51CB20;
}

.generic {
    background: blue;
    border: 1px solid white;
}